:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #49d5ff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
  color: #000000;
}

/* Header styles */
header {
  background-color: #f0f0f0;
  text-align: center;
  padding: 10px;
}

.puppy-list {
  display: flex;
  flex-wrap: wrap;
}

.puppy-name {
  padding: 8px;
  margin: 8px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: color 0.3s ease;
}

.puppy-name:hover {
  background-color: #ffcccc;
  color: #ff0000;
}

.featured-pup {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
}
